{% extends 'base.html' %}
{% block content %}

<section class="pt-24">
 <div class="container p-6">
  <h1 class="text-center text-3xl font-bold mb-8">Signup Page</h1>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'error' %}
  <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
   <span class="font-medium">Infoo bolo!
   </span>{{ message }}
  </div>
 </div>
 {% endif %}
 {% endfor %}
 {% endif %}
 <form method="post"
  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="grid gap-6 mb-6 md:grid-cols-2">
   <div>
    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
    <input type="text" id="first_name"
    class="bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg
    focus:ring-blue-500 focus:border-blue-500
    block w-full p-2.5 dark:bg-gray-700
    dark:border-gray-600
    dark:placeholder-gray-400 dark:text-white
    dark:focus:ring-blue-500
    dark:focus:border-blue-500"
    placeholder="John" required name="first_name" />
  </div>
  <div>
   <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
   <input type="text" id="last_name"
   class="bg-gray-50 border border-gray-300
   text-gray-900 text-sm rounded-lg
   focus:ring-blue-500 focus:border-blue-500
   block w-full p-2.5 dark:bg-gray-700
   dark:border-gray-600 dark:placeholder-gray-400
   dark:text-white dark:focus:ring-blue-500
   dark:focus:border-blue-500" placeholder="Doe"
   required name="last_name" />
 </div>
 <div class="username">
  <label for="username" class="block mb-2
   text-sm font-medium text-gray-900
   dark:text-white">Username</label>
  <input type="text" id="last_name"
  class="bg-gray-50 border border-gray-300
  text-gray-900 text-sm rounded-lg
  focus:ring-blue-500 focus:border-blue-500
  block w-full p-2.5 dark:bg-gray-700
  dark:border-gray-600 dark:placeholder-gray-400
  dark:text-white dark:focus:ring-blue-500
  dark:focus:border-blue-500"
  placeholder="jakasembung112"
  required name="username" />
</div>
<div class="">
 <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
 <input type="email" id="email" class="bg-gray-50
 border border-gray-300 text-gray-900 text-sm
 rounded-lg focus:ring-blue-500
 focus:border-blue-500 block w-full p-2.5
 dark:bg-gray-700 dark:border-gray-600
 dark:placeholder-gray-400 dark:text-white
 dark:focus:ring-blue-500
 dark:focus:border-blue-500"
 placeholder="john.doe@company.com" required
 name="email" />
</div>
</div>
<div class="mb-6">
<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
{{ form.photo_profile }}
<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">
SVG, PNG, JPG or GIF (MAX. 800x400px).
</p>
</div>
<div class="mb-6">
<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
<input type="password" id="password"
class="bg-gray-50 border border-gray-300
text-gray-900 text-sm rounded-lg
focus:ring-blue-500 focus:border-blue-500 block
w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
dark:placeholder-gray-400 dark:text-white
dark:focus:ring-blue-500
dark:focus:border-blue-500"
placeholder="•••••••••" required name="password" />
</div>
<div class="mb-6">
<label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
<input type="password" id="confirm_password"
class="bg-gray-50 border border-gray-300
text-gray-900 text-sm rounded-lg
focus:ring-blue-500 focus:border-blue-500 block
w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
dark:placeholder-gray-400 dark:text-white
dark:focus:ring-blue-500
dark:focus:border-blue-500"
placeholder="•••••••••" required name="password2" />
</div>
<div class="flex items-start mb-6">
<div class="flex items-center h-5">
<input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required />
</div>
<label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
</div>
<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>



</form>
</div>
</section>
{% endblock %}