{% extends 'base.html' %}
{% block content %}
 <section id="blogUpload" class="mb-24 mt-12 dark:bg-gray-900">
  <div class="container">
   <h1 class="text-3xl font-bold text-center mt-24 mb-8">Make Blog post</h1>
     {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'error' %}
  <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
   <span class="font-medium">Infoo bolo!
   </span>{{ message }}
  </div>
 {% endif %}
 {% endfor %}
 {% endif %}
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
 <div class="sampul">
  <h2 class="text-xl font-semibold mb-2">Image</h2>
<div class="flex items-center justify-center w-full">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-36 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <img id="previewImage" src="#" alt="Preview" style="display: none; max-width: auto; max-height: 200px;" class=""/>
            <svg class="w-4 h-4 mt-2 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
{{ form.image }}
    </label>
</div> 
</div>
   <div class="grid grid-cols-1 gap-4 md:grid-cols-2 mt-4">
<div class="">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
{{ form.title }}
</div>
<div class="">
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            {{ form.category }}
        </div>
   </div>
   <div class="mt-2">
            <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content</label>
{{ form.content }}
        </div>
        {{ form.user }}
        <button type="submit" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
   </form>
  </div>
 </section>
   <script>
  document.getElementById('id_gambar').accept = '.jpg, .png, .jpeg';
    document.getElementById('id_gambar').addEventListener('change', function(e) {
        var file = e.target.files[0];
        var imageType = /image.*/;

        if (file && file.type.match(imageType)) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var preview = document.getElementById('previewImage');
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}